@import "./components/content.css";
@import "./components/navbar.css";

main {
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: var(--color-ring) var(--color-background);
  height: 300vh;
}

section {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
}
